<!-- from views-partials-default-header.handlebars --->
{{!-- HEADER --}}
    {{> default/header}}

<!-- from views-partials-default-topnavigation.handlebars-->
{{!-- NAV BAR --}}
    {{>default/top-navigation}}

{{!-- BODY --}}
<!--from views-default-index.handlebars-->
    <div class="container">
        {{{body}}}
        
    </div>
{{!-- FOOTER --}}
<!-- views-partials-default-footer.handlebars-->
    {{>default/footer}}
 